@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyFlix</h1>
    <p class="lead">MyFlix is a movie rental website with a larger movie database that includes movies of all kinds of genre and languages.</p>
    
</div>

<div class="row">
    
</div>